flows/cloudfront-to-es/nifi-template.json
{
    "flowContents": {
        "identifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
        "name": "NiFi Flow",
        "comments": "",
        "position": {
            "x": 0.0,
            "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "797e526c-0aed-3cb4-8af7-7bf945abf1e3",
                "name": "PutElasticsearchHttp",
                "comments": "",
                "position": {
                    "x": 1176.0,
                    "y": 456.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-elasticsearch-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
                "properties": {
                    "elasticsearch-http-response-timeout": "15 secs",
                    "put-es-id-attr": null,
                    "put-es-type": null,
                    "put-es-index": "${now():format('yyyy.MM.dd'):prepend('cloudfront-logs-')}",
                    "proxy-configuration-service": null,
                    "elasticsearch-http-url": "http://localhost:9200",
                    "put-es-batch-size": "100",
                    "SSL Context Service": null,
                    "elasticsearch-http-connect-timeout": "5 secs",
                    "Username": null,
                    "put-es-index-op": "index",
                    "elasticsearch-http-proxy-host": null,
                    "proxy-username": null,
                    "elasticsearch-http-proxy-port": null,
                    "Character Set": "UTF-8"
                },
                "propertyDescriptors": {
                    "elasticsearch-http-response-timeout": {
                        "name": "elasticsearch-http-response-timeout",
                        "displayName": "Response Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-es-id-attr": {
                        "name": "put-es-id-attr",
                        "displayName": "Identifier Attribute",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-es-type": {
                        "name": "put-es-type",
                        "displayName": "Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-es-index": {
                        "name": "put-es-index",
                        "displayName": "Index",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "elasticsearch-http-url": {
                        "name": "elasticsearch-http-url",
                        "displayName": "Elasticsearch URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-es-batch-size": {
                        "name": "put-es-batch-size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "elasticsearch-http-connect-timeout": {
                        "name": "elasticsearch-http-connect-timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Username": {
                        "name": "Username",
                        "displayName": "Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-es-index-op": {
                        "name": "put-es-index-op",
                        "displayName": "Index Operation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "elasticsearch-http-proxy-host": {
                        "name": "elasticsearch-http-proxy-host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-username": {
                        "name": "proxy-username",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-password": {
                        "name": "proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "elasticsearch-http-proxy-port": {
                        "name": "elasticsearch-http-proxy-port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure",
                    "retry"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "ef777c9d-5f14-3c99-91c0-3050d6592de2",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": 1864.0,
                    "y": 224.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "${filename:replaceAll(\"/\", \"-\")}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "43b33268-c03e-3039-82af-ccf20655c148",
                "name": "CompressContent",
                "comments": "",
                "position": {
                    "x": 1864.0,
                    "y": -8.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.CompressContent",
                "properties": {
                    "Compression Format": "gzip",
                    "Mode": "decompress",
                    "Compression Level": "1",
                    "Update Filename": "true"
                },
                "propertyDescriptors": {
                    "Compression Format": {
                        "name": "Compression Format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Mode": {
                        "name": "Mode",
                        "displayName": "Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Update Filename": {
                        "name": "Update Filename",
                        "displayName": "Update Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "354b590c-23af-305d-ac43-54e3877b96bb",
                "name": "ListS3",
                "comments": "",
                "position": {
                    "x": 504.0,
                    "y": -8.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-aws-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.aws.s3.ListS3",
                "properties": {
                    "write-s3-user-metadata": "false",
                    "Proxy Host": null,
                    "list-type": "1",
                    "prefix": "cloudfront/",
                    "record-writer": null,
                    "proxy-configuration-service": null,
                    "Endpoint Override URL": null,
                    "requester-pays": "false",
                    "AWS Credentials Provider service": null,
                    "Listing Batch Size": "100",
                    "SSL Context Service": null,
                    "write-s3-object-tags": "false",
                    "Signer Override": "Default Signature",
                    "Bucket": "ztlewis-logs",
                    "delimiter": null,
                    "Communications Timeout": "30 secs",
                    "Region": "ap-southeast-2",
                    "Credentials File": null,
                    "min-age": "0 sec",
                    "proxy-user-name": null,
                    "Proxy Host Port": null,
                    "use-versions": "false"
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "list-type": {
                        "name": "list-type",
                        "displayName": "List Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Access Key": {
                        "name": "Access Key",
                        "displayName": "Access Key ID",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "prefix": {
                        "name": "prefix",
                        "displayName": "Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Endpoint Override URL": {
                        "name": "Endpoint Override URL",
                        "displayName": "Endpoint Override URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "requester-pays": {
                        "name": "requester-pays",
                        "displayName": "Requester Pays",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Signer Override": {
                        "name": "Signer Override",
                        "displayName": "Signer Override",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "delimiter": {
                        "name": "delimiter",
                        "displayName": "Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-user-password": {
                        "name": "proxy-user-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Secret Key": {
                        "name": "Secret Key",
                        "displayName": "Secret Access Key",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "min-age": {
                        "name": "min-age",
                        "displayName": "Minimum Object Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "write-s3-user-metadata": {
                        "name": "write-s3-user-metadata",
                        "displayName": "Write User Metadata",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "AWS Credentials Provider service": {
                        "name": "AWS Credentials Provider service",
                        "displayName": "AWS Credentials Provider service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Listing Batch Size": {
                        "name": "Listing Batch Size",
                        "displayName": "Listing Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "write-s3-object-tags": {
                        "name": "write-s3-object-tags",
                        "displayName": "Write Object Tags",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Bucket": {
                        "name": "Bucket",
                        "displayName": "Bucket",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Communications Timeout": {
                        "name": "Communications Timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Region": {
                        "name": "Region",
                        "displayName": "Region",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Credentials File": {
                        "name": "Credentials File",
                        "displayName": "Credentials File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "proxy-user-name": {
                        "name": "proxy-user-name",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Host Port": {
                        "name": "Proxy Host Port",
                        "displayName": "Proxy Host Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-versions": {
                        "name": "use-versions",
                        "displayName": "Use Versions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "PRIMARY",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "e30ea417-875e-381b-bc85-95664317317c",
                "name": "SplitJson",
                "comments": "",
                "position": {
                    "x": 504.0,
                    "y": 224.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "properties": {
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.*"
                },
                "propertyDescriptors": {
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "2659f149-8e9e-33f8-b555-c220e5401cb0",
                "name": "ExecuteScript",
                "comments": "",
                "position": {
                    "x": 504.0,
                    "y": 456.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "properties": {
                    "Script File": null,
                    "Script Engine": "Groovy",
                    "Script Body": "import groovy.json.JsonSlurper\nimport groovy.json.JsonBuilder\n\nTimeZone.setDefault(TimeZone.getTimeZone('UTC'))\n\ndef ff = session.get()\nif(!ff)return\nff = session.write(ff, {rawIn, rawOut->\n    // transform streams into reader and writer\n    rawIn.withReader(\"UTF-8\"){reader->\n        rawOut.withWriter(\"UTF-8\"){writer->\n            //parse reader into Map\n            def json = new JsonSlurper().parse(reader)\n            //change/set values\n            if (json.date != null && json.time != null) {\n                json.datetime = \"${json.date}T${json.time}Z\"\n                json.remove('date')\n                json.remove('time')\n            }\n            new JsonBuilder(json).writeTo(writer)\n        }\n    }\n} as StreamCallback)\nsession.transfer(ff, REL_SUCCESS)\n",
                    "Module Directory": null
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "4a349d69-dece-3926-acfc-28a7aa69bc93",
                "name": "PutFile",
                "comments": "",
                "position": {
                    "x": 1864.0,
                    "y": 448.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutFile",
                "properties": {
                    "Group": null,
                    "Owner": null,
                    "Create Missing Directories": "true",
                    "Permissions": "rwxrwxrwx",
                    "Maximum File Count": null,
                    "Last Modified Time": null,
                    "Directory": "/home/zac/nifi",
                    "Conflict Resolution Strategy": "replace"
                },
                "propertyDescriptors": {
                    "Group": {
                        "name": "Group",
                        "displayName": "Group",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Owner": {
                        "name": "Owner",
                        "displayName": "Owner",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Create Missing Directories": {
                        "name": "Create Missing Directories",
                        "displayName": "Create Missing Directories",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Permissions": {
                        "name": "Permissions",
                        "displayName": "Permissions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum File Count": {
                        "name": "Maximum File Count",
                        "displayName": "Maximum File Count",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Last Modified Time": {
                        "name": "Last Modified Time",
                        "displayName": "Last Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Conflict Resolution Strategy": {
                        "name": "Conflict Resolution Strategy",
                        "displayName": "Conflict Resolution Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "DISABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "2eb3b0f6-86cb-39bb-8956-119d85a1f19b",
                "name": "ConvertRecord",
                "comments": "",
                "position": {
                    "x": 1176.0,
                    "y": 224.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "properties": {
                    "record-writer": "2cba3ee2-5a89-3508-a8f8-09d7d7bac783",
                    "record-reader": "902ca768-86ae-3e51-bfed-0e401de5e444",
                    "include-zero-record-flowfiles": "true"
                },
                "propertyDescriptors": {
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "b6bce2c6-f2f2-3b64-a1a9-49e763c5d457",
                "name": "FetchS3Object",
                "comments": "",
                "position": {
                    "x": 1176.0,
                    "y": -8.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-aws-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
                "properties": {
                    "Proxy Host": null,
                    "range-length": null,
                    "range-start": null,
                    "proxy-configuration-service": null,
                    "Endpoint Override URL": null,
                    "requester-pays": "false",
                    "Object Key": "${filename}",
                    "AWS Credentials Provider service": null,
                    "SSL Context Service": null,
                    "Signer Override": "Default Signature",
                    "Bucket": "${s3.bucket}",
                    "Version": null,
                    "Communications Timeout": "30 secs",
                    "Region": "ap-southeast-2",
                    "Credentials File": null,
                    "proxy-user-name": null,
                    "Proxy Host Port": null,
                    "encryption-service": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "range-length": {
                        "name": "range-length",
                        "displayName": "Range Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Access Key": {
                        "name": "Access Key",
                        "displayName": "Access Key ID",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "range-start": {
                        "name": "range-start",
                        "displayName": "Range Start",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Endpoint Override URL": {
                        "name": "Endpoint Override URL",
                        "displayName": "Endpoint Override URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "requester-pays": {
                        "name": "requester-pays",
                        "displayName": "Requester Pays",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Object Key": {
                        "name": "Object Key",
                        "displayName": "Object Key",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "AWS Credentials Provider service": {
                        "name": "AWS Credentials Provider service",
                        "displayName": "AWS Credentials Provider service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Signer Override": {
                        "name": "Signer Override",
                        "displayName": "Signer Override",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Bucket": {
                        "name": "Bucket",
                        "displayName": "Bucket",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Version": {
                        "name": "Version",
                        "displayName": "Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-user-password": {
                        "name": "proxy-user-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Communications Timeout": {
                        "name": "Communications Timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Region": {
                        "name": "Region",
                        "displayName": "Region",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Secret Key": {
                        "name": "Secret Key",
                        "displayName": "Secret Access Key",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Credentials File": {
                        "name": "Credentials File",
                        "displayName": "Credentials File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "proxy-user-name": {
                        "name": "proxy-user-name",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Host Port": {
                        "name": "Proxy Host Port",
                        "displayName": "Proxy Host Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "encryption-service": {
                        "name": "encryption-service",
                        "displayName": "Encryption Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "5efcd50c-c0ed-34da-b6c0-f0a767bfa170",
                "name": "",
                "source": {
                    "id": "b6bce2c6-f2f2-3b64-a1a9-49e763c5d457",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "FetchS3Object",
                    "comments": ""
                },
                "destination": {
                    "id": "43b33268-c03e-3039-82af-ccf20655c148",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "CompressContent",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "df7bf7a7-663d-355c-a040-aee36a9c9b53",
                "name": "",
                "source": {
                    "id": "354b590c-23af-305d-ac43-54e3877b96bb",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "ListS3",
                    "comments": ""
                },
                "destination": {
                    "id": "b6bce2c6-f2f2-3b64-a1a9-49e763c5d457",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "FetchS3Object",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "53883ef3-1e73-350c-ac8a-bf109021f6d4",
                "name": "",
                "source": {
                    "id": "2eb3b0f6-86cb-39bb-8956-119d85a1f19b",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "destination": {
                    "id": "e30ea417-875e-381b-bc85-95664317317c",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "SplitJson",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "b531a8e0-cdaa-3705-8047-5217a529cd38",
                "name": "",
                "source": {
                    "id": "ef777c9d-5f14-3c99-91c0-3050d6592de2",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "UpdateAttribute",
                    "comments": ""
                },
                "destination": {
                    "id": "2eb3b0f6-86cb-39bb-8956-119d85a1f19b",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "3f6ce06c-3fe9-3a10-a8d7-0d91e6b28d07",
                "name": "",
                "source": {
                    "id": "e30ea417-875e-381b-bc85-95664317317c",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "SplitJson",
                    "comments": ""
                },
                "destination": {
                    "id": "2659f149-8e9e-33f8-b555-c220e5401cb0",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "ExecuteScript",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "82f288c0-51c7-3847-b613-0b766b8c02ed",
                "name": "",
                "source": {
                    "id": "43b33268-c03e-3039-82af-ccf20655c148",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "CompressContent",
                    "comments": ""
                },
                "destination": {
                    "id": "ef777c9d-5f14-3c99-91c0-3050d6592de2",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "UpdateAttribute",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "c4c05189-aa25-30d2-b2bd-02daa487b98a",
                "name": "",
                "source": {
                    "id": "2659f149-8e9e-33f8-b555-c220e5401cb0",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "ExecuteScript",
                    "comments": ""
                },
                "destination": {
                    "id": "797e526c-0aed-3cb4-8af7-7bf945abf1e3",
                    "type": "PROCESSOR",
                    "groupId": "29320224-a67c-33e4-8602-c1c42ff2a5f5",
                    "name": "PutElasticsearchHttp",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "2cba3ee2-5a89-3508-a8f8-09d7d7bac783",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.14.0"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.14.0"
                        }
                    }
                ],
                "properties": {
                    "schema-branch": null,
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-protocol-version": "1",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-protocol-version": {
                        "name": "schema-protocol-version",
                        "displayName": "Schema Protocol Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            },
            {
                "identifier": "902ca768-86ae-3e51-bfed-0e401de5e444",
                "name": "GrokReader",
                "comments": "",
                "type": "org.apache.nifi.grok.GrokReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.14.0"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.14.0"
                        }
                    }
                ],
                "properties": {
                    "Grok Expression": "%{NOTSPACE:date}\\s%{NOTSPACE:time}\\s%{NOTSPACE:x_edge_location}\\s%{NUMBER:sc_bytes}\\s%{NOTSPACE:c_ip}\\s%{NOTSPACE:cs_method}\\s%{NOTSPACE:csHost}\\s%{NOTSPACE:cs_uri_stem}\\s%{NUMBER:sc_status}\\s%{NOTSPACE:csReferer}\\s%{NOTSPACE:csUser_Agent}\\s%{NOTSPACE:cs_uri_query}\\s%{NOTSPACE:csCookie}\\s%{NOTSPACE:x_edge_result_type}\\s%{NOTSPACE:x_edge_request_id}\\s%{NOTSPACE:x_host_header}\\s%{NOTSPACE:cs_protocol}\\s%{NUMBER:cs_bytes}\\s%{BASE16FLOAT:time_taken}\\s%{NOTSPACE:x_forwarded_for}\\s%{NOTSPACE:ssl_protocol}\\s%{NOTSPACE:ssl_cipher}\\s%{NOTSPACE:x_edge_response_result_type}\\s%{NOTSPACE:cs_protocol_version}\\s%{NOTSPACE:fle_status}\\s%{NOTSPACE:fle_encrypted_fields}\\s%{NUMBER:c_port}\\s%{BASE16FLOAT:time_to_first_byte}\\s%{NOTSPACE:x_edge_detailed_result_type}\\s%{NOTSPACE:sc_content_type}\\s%{NUMBER:sc_content_len}\\s%{NOTSPACE:sc_range_start}\\s%{NOTSPACE:sc_range_end}",
                    "Grok Pattern File": null,
                    "schema-branch": null,
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "no-match-behavior": "raw-line",
                    "schema-access-strategy": "string-fields-from-grok-expression",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "Grok Expression": {
                        "name": "Grok Expression",
                        "displayName": "Grok Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Grok Pattern File": {
                        "name": "Grok Pattern File",
                        "displayName": "Grok Pattern File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "no-match-behavior": {
                        "name": "no-match-behavior",
                        "displayName": "No Match Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "29320224-a67c-33e4-8602-c1c42ff2a5f5"
            }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}
